{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Profile - {{ user.username }}</title>
   <!-- <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> -->
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'jquery.js' %}"></script>

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	</div>
	
	<section>
			<div class="feature-photo">
				<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt=""></figure>
				<div>
					<div class="add-btn flex space-x-5 md:text-3xl lg:text-3xl sm:text-sm md:text-md">
					<span style="color: white; margin-right: 400px; margin-top: 20px;"><b><u><a href="/">Home</a></u></b></span>
					<span style="color: white;" class="flex flex-col items-center space-y-3"><b>{{ profile.dposts }}</b><b>Posts</b></span>
					<span style="color: white;" class="flex flex-col items-center space-y-3"><b class="nof"></b><b>Followers</b></span>
					<span style="color: white;" class="flex flex-col items-center space-y-3"><b>{{ profile.dfollowing }}</b> <b>Following</b></span>
					{% if request.user.username != user.username %}
					<form id="follow"> {% csrf_token %}
						<input type="hidden" name="follow" id="followh" value="{{ user.username }}">
						<a href="" title="" data-ripple="" style="height: 50px; margin-top: 15px;"><button type="submit" style="background-color: #ffc0cb; border: #ffc0cb; height: 40px;">Follow</button></a>
					</form>
					{% endif %}
					</div>
				</div>

				<!-- <form class="edit-phto">
					<i class="fa fa-camera-retro"></i>
					<label class="fileContainer">
						Upload Cover Photo
					<input type="file"/>
					</label>
				</form> -->
				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							<div class="user-avatar">
								<figure>
									<a href="{{ profile.profileimage.url }}"><img src="{{ profile.profileimage.url }}" style="height: 250px; width: 100%;" alt=""></a>
									<form class="edit-phto">
										<i class="fa fa-camera-retro"></i>
										<label class="fileContainer">
											<a href="{% url 'settings' %}">Goto Settings to Change</a>
										</label>
									</form>
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
									  <h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>{{ user.username }}</b><!--<i class="fa fa-check-circle" style="color: #48dbfb;" aria-hidden="true"></i>--></h5>
									  <!--<span>Group Admin</span>-->
									</li>
									<!--<li>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Go live!</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Music</a>
										<a class="" href="emporium/index-3.html" title="" data-ripple="">Emporium</a>
										<a class="" href="fitness/index.html" title="" data-ripple="">Health Inspection</a>
										<a class="" href="settings/account-setting.html" title="" data-ripple="">Settings</a>
										<a class="" href="javascript:void(0)" title="" data-ripple="">Upload</a>
										<a class="" href="time-line.html" title="" data-ripple="">time line</a>
										<a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
										<a class="" href="timeline-videos.html" title="" data-ripple="">Videos</a>
										<a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
										<a class="" href="timeline-groups.html" title="" data-ripple="">Groups</a>
										<a class="" href="about.html" title="" data-ripple="">about</a>
										<a class="" href="#" title="" data-ripple="">more</a>

									</li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- top area -->
		<section>
			<div class="bio">
				{{ profile.bio }}
			</div>
		</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									
									
									
								</aside>
							</div><!-- sidebar -->
							









							<div class="col-lg-6">
								<div class="central-meta">
									<ul class="photos">
					
										<li>
											<a class="strip" href="{% static 'images/resources/bloggrid-3.jpg' %}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{% static 'images/resources/bloggrid-3.jpg' %}" style="height: 250px; width: 300px;" alt=""></a>
										</li>

										<li>
											<a class="strip" href="{% static 'images/resources/bloggrid-4.jpg' %}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{% static 'images/resources/bloggrid-4.jpg' %}" style="height: 250px; width: 300px;" alt=""></a>
										</li>

										<li>
											<a class="strip" href="{% static 'images/resources/bloggrid-5.jpg' %}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{% static 'images/resources/bloggrid-5.jpg' %}" style="height: 250px; width: 300px;" alt=""></a>
										</li>
										
										
									</ul>
									<!--<div class="lodmore"><button class="btn-view btn-load-more"></button></div>-->
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<script type="text/javascript">

		$(document).ready(() => {
			var nof = document.querySelector('.nof')
			nof.innerHTML = '...';
			$.ajax({
				type: 'GET',
				url: "{% url 'getFollowers' user.username %}",
				success: function(data) {
					
					nof.innerHTML = data['dfollowers']
					console.log(data['dfollowers'])
				},
				error: function(response) {
					alert("An error occured when getting your data!!!")
				},
			
				});
		})

		$(document).on('submit', '#follow', function(e){
			e.preventDefault();
	
			$.ajax({
				type: 'POST',
				url: "{% url 'profile' user.username %}",
				data: {
					follow: $('#followh').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function() {
						getabc();
				},
			});
		});

		const getabc = () => {
			var nof = $('.nof')
			nof.empty();
			
				$.ajax({
					type: 'GET',
					url: "{% url 'getFollowers' user.username %}",
					success: function(data) {
						
						nof.append(data['dfollowers'])
						console.log(data['dfollowers'])
					},
					error: function(response) {
						alert("An error occured when getting your data!!!")
					},
			
				});
		}
	</script>
	
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'jquery.min.js' %}"></script>
	<script src="{% static 'jquery.js' %}"></script>
	
</body>	


</html>